---
interface Props {
  item: {
    data: {
      image: string;
      title: string;
      date: string;
    };
    slug: string;
    body: string;
  };
  featured: boolean;
}

import { Image } from "astro:assets";
import dateFormat from "@/lib/utils/dateFormat";
import CalendarIcon from "@/icons/CalendarIcon.astro";
const { item, featured } = Astro.props;
---

<div class={featured ? "mb-8 featured md:col-6" : "mb-8 md:col-6 lg:col-4"}>
  <div class="card">
    <Image
      class="card-img"
      width={featured ? 533 : 335}
      height={featured ? 589 : 210}
      src={item.data.image}
      alt={item.data.title}
    />
    <div class="card-content">
      <h3 class="h4 card-title">
        <a href={`/works/${item.slug}`}>{item.data.title}</a>
      </h3>
      <div class="card-footer mt-6 flex space-x-4">
        <span class="inline-flex items-center text-xs text-[#666]">
          <CalendarIcon />
          {dateFormat(item.data.date)}
        </span>
      </div>
    </div>
  </div>
</div>
