---
import Works from "@/components/Works.astro";
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import FeaturedWorks from "@/components/blog/FeaturedWorks.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Cta from "@/layouts/partials/Cta.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import type { TIndexData } from "@/types";
import { getEntry } from "astro:content";

const { artwork_folder } = config.settings;
const blogIndex = (await getEntry<any, string>(
  artwork_folder,
  "-index",
)) as TIndexData;
const works = await getSinglePage(artwork_folder);
const sortedWorks = sortByDate(works);
const featuredWorks = sortedWorks.filter((item) => item.data.featured);
const recentWorks = sortedWorks.filter((item) => !item.data.featured);
const totalPages = Math.ceil(recentWorks.length / config.settings.pagination);
const currentWorks = recentWorks.slice(0, config.settings.pagination);
---

<Base
  title={blogIndex.data.title}
  meta_title={blogIndex.data.meta_title}
  description={blogIndex.data.description}
  image={blogIndex.data.image}
>
  <Shape />
  <section class="page-hero pt-16">
    <div class="container">
      <PageHeader page_data={blogIndex.data} />
    </div>
  </section>
  <section class="section">
    <div class="container">
      <FeaturedWorks works={featuredWorks} />
      <Works works={currentWorks} />
      <Pagination
        section={artwork_folder}
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
  </section>
  <Cta />
</Base>
