---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import AllWorks from "@/layouts/components/AllWorks.astro";
import type { TIndexData } from "@/types";
import { getEntry } from "astro:content";

const { artwork_folder } = config.settings;
const artworkIndex = (await getEntry<any, string>(
  artwork_folder,
  "-index",
)) as TIndexData;
---

<Base
  title={artworkIndex.data.title}
  meta_title={artworkIndex.data.meta_title}
  description={artworkIndex.data.description}
  image={artworkIndex.data.image}
>
  <Shape />
  <section class="page-hero pt-16">
    <div class="container">
      <PageHeader page_data={artworkIndex.data} />
    </div>
  </section>
  <AllWorks />
</Base>
