---
import { Image } from "astro:assets";
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
const { summary_length } = config.settings;
const { works } = Astro.props;
import CalendarIcon from "./CalendarIcon.astro";
---

<h2 class="h4 mb-4">Featured Works</h2>
<div class="featured-posts row">
  {
    works.map((work: any) => (
      <div class="mb-8 md:col-6">
        <div class="card">
          <Image
            class="card-img"
            width={235}
            height={304}
            src={work.data.image}
            alt={work.data.title}
          />
          <div class="card-content">
            <div class="card-tags space-x-1">
              {work.data.categories.map((category: any) => (
                <a class="tag" href={`/categories/${slugify(category)}`}>
                  {humanize(category)}
                </a>
              ))}
            </div>
            <h3 class="h4 card-title">
              <a href={`/blog/${work.slug}`}>{work.data.title}</a>
            </h3>
            <p class="mb-4 text-text">
              {plainify(work.body?.slice(0, Number(summary_length)))}...
            </p>
            <div class="card-footer mt-6 flex space-x-4">
              <span class="inline-flex items-center text-xs text-[#666]">
                <CalendarIcon />
                {dateFormat(work.data.date)}
              </span>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
