---
import Works from "@/components/Works.astro";
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getEntry } from "astro:content";
import type { TIndexData } from "@/types";

export async function getStaticPaths() {
  const posts = await getSinglePage(config.settings.artwork_folder);
  const totalPages = Math.ceil(posts.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
const artworkIndex = (await getEntry<any, string>(
  config.settings.artwork_folder,
  "-index",
)) as TIndexData;

const { slug } = Astro.params;
const posts = await getSinglePage(config.settings.artwork_folder);
const sortedWorks = sortByDate(posts);
const recentWork = sortedWorks.filter((item) => !item.data.featured);
const totalPages = Math.ceil(recentWork.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastWork = currentPage * config.settings.pagination;
const indexOfFirstWork = indexOfLastWork - config.settings.pagination;
const currentWorks = recentWork.slice(indexOfFirstWork, indexOfLastWork);
const page_data = {
  index_title: artworkIndex.data.title,
  slug: `page / ${slug}`,
};
---

<Base
  title={artworkIndex.data.title}
  meta_title={artworkIndex.data.meta_title}
  description={artworkIndex.data.description}
  image={artworkIndex.data.image}
>
  <Shape />
  <section class="page-hero pt-16">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>
  </section>
  <section class="section">
    <div class="container">
      <Works works={currentWorks} />
      <Pagination
        section={config.settings.artwork_folder}
        totalPages={totalPages}
        currentPage={currentPage}
      />
    </div>
  </section>
</Base>
